* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #1b1b32;
    background-color: #E3BB38;
    font-family: Lato, sans-serif;
    margin-top: 40px;
}

h1 {
    color: #CCCC99;
    font-size: 25px;
    font-size: Roboto, sans-serif;
    text-align: center;
    margin: 20px 0;
}

.application-tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kemetec-logo-container {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kemetec-logo {
    width: 300px;
    height: 100px;
}

.main-task-list {
    width: 600px;
    min-height: 500px;
    background-color: #AD7A29;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
}