* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: white;
    background-color: #E3BB38;
    font-family: Lato, sans-serif;
    margin-top: 40px;
}

.application-tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.kemetec-logo-container {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kemetec-logo {
    width: 300px;
    height: 100px;
}